<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- console (spring boot) -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- file app logs -->
    <appender name="ApplicationFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- app -->
    <logger name="murkeev" level="INFO" additivity="false">
        <appender-ref ref="ApplicationFile"/>
        <appender-ref ref="Console"/>
    </logger>

    <!-- Spring Boot -->
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>